## **Reading the data**

In [2]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [3]:
#to check
records

{'1001': {'Name': 'Buscuit', 'Price': 50, 'Quantity': 30},
 '1002': {'Name': 'Chips', 'Price': 10, 'Quantity': 200},
 '1003': {'Name': 'Shampoo', 'Price': 125, 'Quantity': 100},
 '1004': {'Name': 'Chocolate', 'Price': 10, 'Quantity': 1000},
 '1005': {'Name': 'Pen', 'Price': 20, 'Quantity': 100},
 '1006': {'Name': 'Oil', 'Price': 75, 'Quantity': 100},
 '1007': {'Name': 'Bottles', 'Price': 170, 'Quantity': 200},
 '1008': {'Name': 'Umbrella', 'Price': 300, 'Quantity': 30},
 '1009': {'Name': 'Graph', 'Price': 1, 'Quantity': 100},
 '1010': {'Name': 'Lipstick', 'Price': 70, 'Quantity': 50},
 '1011': {'Name': 'Comb', 'Price': 25, 'Quantity': 70},
 '1012': {'Name': 'Band', 'Price': 10, 'Quantity': 100},
 '1013': {'Name': 'Pencil', 'Price': 10, 'Quantity': 200},
 '1014': {'Name': 'Cutter', 'Price': 95, 'Quantity': 20},
 '1015': {'Name': 'Plates', 'Price': 25, 'Quantity': 100},
 '1016': {'Name': 'Hair Gel', 'Price': 200, 'Quantity': 80},
 '1017': {'Name': 'Towel', 'Price': 300, 'Quantity': 25},
 '1018': {'Name': 'Chair', 'Price': 575, 'Quantity': 10},
 '1019': {'Name': 'Frame', 'Price': 170, 'Quantity': 20},
 '1020': {'Name': 'Toys', 'Price': 300, 'Quantity': 30},
 '1021': {'Name': 'Cake', 'Price': 25, 'Quantity': 25},
 '1022': {'Name': 'Ice cream', 'Price': 10, 'Quantity': 200},
 '1023': {'Name': 'Milk', 'Price': 25, 'Quantity': 60},
 '1024': {'Name': 'Butter', 'Price': 185, 'Quantity': 30},
 '1025': {'Name': 'Paneer', 'Price': 190, 'Quantity': 25},
 '1026': {'Name': 'Mask', 'Price': 15, 'Quantity': 300},
 '1027': {'Name': 'Socks', 'Price': 170, 'Quantity': 100},
 '1028': {'Name': 'Pouch', 'Price': 30, 'Quantity': 100},
 '1029': {'Name': 'Scissors', 'Price': 90, 'Quantity': 100},
 '1031': {'Name': 'Ring', 'Price': 500, 'Quantity': 30}}

## **Billing**

In [4]:
sales={1:{'prod id':1001,'Quantity':2,'Amount':50}}

In [6]:
n=int(input("No of items:"))
print("----------------------------------------")
itemnum=1
total=0
while (itemnum<=n):  
  ui_prod  = str(input("Enter the product_Id: "))
  ui_quant = int(input("Enter the quantity: "))
  if ui_prod not in records.keys():
    print("ITEM DOES NOT EXISTS")
    print("----------------------------------------")
    itemnum+=1
  else:
    billing={}
    print("          Product: ", records[ui_prod]['Name'])
    print("          Price: ", records[ui_prod]['Price'])
    print("          Billing Amount: ", records[ui_prod]['Price'] * ui_quant)
    print("----------------------------------------")
    records[ui_prod]['Quantity'] = records[ui_prod]['Quantity'] - ui_quant
    tot_cost=(records[str(ui_prod)]["Price"]*ui_quant)
    total+=tot_cost
    itemnum+=1
    sales[len(sales)+1] = {'prod_id': ui_prod, 'Quantity': ui_quant, 'Amount':  ui_quant*records[ui_prod]['Price']}

else:
  print("TOTAL BILLING AMOUNT:",total)
  print("----------------------------------------")
  print("***************THANKYOU***************")

No of items:4
----------------------------------------
Enter the product_Id: 1008
Enter the quantity: 1
          Product:  Umbrella
          Price:  300
          Billing Amount:  300
----------------------------------------
Enter the product_Id: 1014
Enter the quantity: 1
          Product:  Cutter
          Price:  95
          Billing Amount:  95
----------------------------------------
Enter the product_Id: 1017
Enter the quantity: 1
          Product:  Towel
          Price:  300
          Billing Amount:  300
----------------------------------------
Enter the product_Id: 1020
Enter the quantity: 1
          Product:  Toys
          Price:  300
          Billing Amount:  300
----------------------------------------
TOTAL BILLING AMOUNT: 995
----------------------------------------
***************THANKYOU***************

In [7]:
records

{'1001': {'Name': 'Buscuit', 'Price': 50, 'Quantity': 29},
 '1002': {'Name': 'Chips', 'Price': 10, 'Quantity': 200},
 '1003': {'Name': 'Shampoo', 'Price': 125, 'Quantity': 99},
 '1004': {'Name': 'Chocolate', 'Price': 10, 'Quantity': 1000},
 '1005': {'Name': 'Pen', 'Price': 20, 'Quantity': 98},
 '1006': {'Name': 'Oil', 'Price': 75, 'Quantity': 100},
 '1007': {'Name': 'Bottles', 'Price': 170, 'Quantity': 200},
 '1008': {'Name': 'Umbrella', 'Price': 300, 'Quantity': 29},
 '1009': {'Name': 'Graph', 'Price': 1, 'Quantity': 99},
 '1010': {'Name': 'Lipstick', 'Price': 70, 'Quantity': 48},
 '1011': {'Name': 'Comb', 'Price': 25, 'Quantity': 70},
 '1012': {'Name': 'Band', 'Price': 10, 'Quantity': 100},
 '1013': {'Name': 'Pencil', 'Price': 10, 'Quantity': 200},
 '1014': {'Name': 'Cutter', 'Price': 95, 'Quantity': 19},
 '1015': {'Name': 'Plates', 'Price': 25, 'Quantity': 99},
 '1016': {'Name': 'Hair Gel', 'Price': 200, 'Quantity': 80},
 '1017': {'Name': 'Towel', 'Price': 300, 'Quantity': 24},
 '1018': {'Name': 'Chair', 'Price': 575, 'Quantity': 10},
 '1019': {'Name': 'Frame', 'Price': 170, 'Quantity': 20},
 '1020': {'Name': 'Toys', 'Price': 300, 'Quantity': 29},
 '1021': {'Name': 'Cake', 'Price': 25, 'Quantity': 25},
 '1022': {'Name': 'Ice cream', 'Price': 10, 'Quantity': 200},
 '1023': {'Name': 'Milk', 'Price': 25, 'Quantity': 60},
 '1024': {'Name': 'Butter', 'Price': 185, 'Quantity': 30},
 '1025': {'Name': 'Paneer', 'Price': 190, 'Quantity': 25},
 '1026': {'Name': 'Mask', 'Price': 15, 'Quantity': 300},
 '1027': {'Name': 'Socks', 'Price': 170, 'Quantity': 100},
 '1028': {'Name': 'Pouch', 'Price': 30, 'Quantity': 100},
 '1029': {'Name': 'Scissors', 'Price': 90, 'Quantity': 100},
 '1031': {'Name': 'Ring', 'Price': 500, 'Quantity': 30}}

In [9]:
#updating inventories after purchase
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

### **Sales Report**

In [8]:
sales

{1: {'Amount': 50, 'Quantity': 2, 'prod id': 1001},
 2: {'Amount': 50, 'Quantity': 1, 'prod_id': '1001'},
 3: {'Amount': 125, 'Quantity': 1, 'prod_id': '1003'},
 4: {'Amount': 40, 'Quantity': 2, 'prod_id': '1005'},
 5: {'Amount': 1, 'Quantity': 1, 'prod_id': '1009'},
 6: {'Amount': 140, 'Quantity': 2, 'prod_id': '1010'},
 7: {'Amount': 25, 'Quantity': 1, 'prod_id': '1015'},
 8: {'Amount': 300, 'Quantity': 1, 'prod_id': '1008'},
 9: {'Amount': 95, 'Quantity': 1, 'prod_id': '1014'},
 10: {'Amount': 300, 'Quantity': 1, 'prod_id': '1017'},
 11: {'Amount': 300, 'Quantity': 1, 'prod_id': '1020'}}

In [11]:
fd = open("sales.txt",'w')
r = fd.write(js)
fd.close()