### **Reading the data**

In [37]:
import json
fd = open("products.txt",'r')
r = fd.read()
fd.close()
record=json.loads(r)

In [38]:
#to check the data
record

{'1001': {'Name': 'Biscuit', 'Price': 50, 'Quantity': 100},
 '1002': {'Name': 'Chips', 'Price': 10, 'Quantity': 200},
 '1003': {'Name': 'Shampoo', 'Price': 125, 'Quantity': 100},
 '1004': {'Name': 'Chocolate', 'Price': 10, 'Quantity': 1000},
 '1005': {'Name': 'Pen', 'Price': 20, 'Quantity': 100},
 '1006': {'Name': 'Oil', 'Price': 75, 'Quantity': 100},
 '1007': {'Name': 'Bottles', 'Price': 170, 'Quantity': 200},
 '1008': {'Name': 'Umbrella', 'Price': 300, 'Quantity': 30},
 '1009': {'Name': 'Graph', 'Price': 1, 'Quantity': 100},
 '1010': {'Name': 'Lipstick', 'Price': 70, 'Quantity': 50},
 '1011': {'Name': 'Comb', 'Price': 25, 'Quantity': 70},
 '1012': {'Name': 'Band', 'Price': 10, 'Quantity': 100},
 '1013': {'Name': 'Pencil', 'Price': 10, 'Quantity': 200},
 '1014': {'Name': 'Cutter', 'Price': 95, 'Quantity': 20},
 '1015': {'Name': 'Plates', 'Price': 25, 'Quantity': 100},
 '1016': {'Name': 'Hair Gel', 'Price': 200, 'Quantity': 80},
 '1017': {'Name': 'Towel', 'Price': 300, 'Quantity': 25},
 '1018': {'Name': 'Chair', 'Price': 575, 'Quantity': 10},
 '1019': {'Name': 'Frame', 'Price': 170, 'Quantity': 20},
 '1020': {'Name': 'Toys', 'Price': 300, 'Quantity': 30},
 '1021': {'Name': 'Cake', 'Price': 25, 'Quantity': 25},
 '1022': {'Name': 'Ice cream', 'Price': 10, 'Quantity': 200},
 '1023': {'Name': 'Milk', 'Price': 25, 'Quantity': 60},
 '1024': {'Name': 'Butter', 'Price': 185, 'Quantity': 30},
 '1025': {'Name': 'Paneer', 'Price': 190, 'Quantity': 25},
 '1026': {'Name': 'Mask', 'Price': 15, 'Quantity': 300},
 '1027': {'Name': 'Socks', 'Price': 170, 'Quantity': 100},
 '1028': {'Name': 'Pouch', 'Price': 30, 'Quantity': 100},
 '1029': {'Name': 'Scissors', 'Price': 90, 'Quantity': 100},
 '1030': {'Name': 'Gum', 'Price': 30, 'Quantity': 100}}

### **Adding an new item to the inventory**

In [40]:
prod_id = str(input("Enter product id:"))
Name = str(input("Enter name:"))
Price = int(input("Enter price:"))
Quantity=int(input("Enter quantity:"))

record[prod_id] = {'Name': Name, 'Price': Price, 'Quantity': Quantity}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1031
Enter name:Ring
Enter price:500
Enter quantity:20

## **Adding an existing item to the inventory**

In [41]:
#restocking the inventory
#to restock the items that already exists
prod_id = str(input("Enter product id:"))
Name = str(input("Enter name:"))
Price = int(input("Enter price:"))
prod_quan= int(input("Enter quantity:"))
if prod_id in record.keys():
  Quantity=record[prod_id]['Quantity']=record[prod_id]['Quantity']+prod_quan
  record[prod_id] = {'Name': Name, 'Price': Price, 'Quantity':Quantity}

Enter product id:1001
Enter name:Buscuit
Enter price:50
Enter quantity:50

In [42]:
#to check
record

{'1001': {'Name': 'Buscuit', 'Price': 50, 'Quantity': 150},
 '1002': {'Name': 'Chips', 'Price': 10, 'Quantity': 200},
 '1003': {'Name': 'Shampoo', 'Price': 125, 'Quantity': 100},
 '1004': {'Name': 'Chocolate', 'Price': 10, 'Quantity': 1000},
 '1005': {'Name': 'Pen', 'Price': 20, 'Quantity': 100},
 '1006': {'Name': 'Oil', 'Price': 75, 'Quantity': 100},
 '1007': {'Name': 'Bottles', 'Price': 170, 'Quantity': 200},
 '1008': {'Name': 'Umbrella', 'Price': 300, 'Quantity': 30},
 '1009': {'Name': 'Graph', 'Price': 1, 'Quantity': 100},
 '1010': {'Name': 'Lipstick', 'Price': 70, 'Quantity': 50},
 '1011': {'Name': 'Comb', 'Price': 25, 'Quantity': 70},
 '1012': {'Name': 'Band', 'Price': 10, 'Quantity': 100},
 '1013': {'Name': 'Pencil', 'Price': 10, 'Quantity': 200},
 '1014': {'Name': 'Cutter', 'Price': 95, 'Quantity': 20},
 '1015': {'Name': 'Plates', 'Price': 25, 'Quantity': 100},
 '1016': {'Name': 'Hair Gel', 'Price': 200, 'Quantity': 80},
 '1017': {'Name': 'Towel', 'Price': 300, 'Quantity': 25},
 '1018': {'Name': 'Chair', 'Price': 575, 'Quantity': 10},
 '1019': {'Name': 'Frame', 'Price': 170, 'Quantity': 20},
 '1020': {'Name': 'Toys', 'Price': 300, 'Quantity': 30},
 '1021': {'Name': 'Cake', 'Price': 25, 'Quantity': 25},
 '1022': {'Name': 'Ice cream', 'Price': 10, 'Quantity': 200},
 '1023': {'Name': 'Milk', 'Price': 25, 'Quantity': 60},
 '1024': {'Name': 'Butter', 'Price': 185, 'Quantity': 30},
 '1025': {'Name': 'Paneer', 'Price': 190, 'Quantity': 25},
 '1026': {'Name': 'Mask', 'Price': 15, 'Quantity': 300},
 '1027': {'Name': 'Socks', 'Price': 170, 'Quantity': 100},
 '1028': {'Name': 'Pouch', 'Price': 30, 'Quantity': 100},
 '1029': {'Name': 'Scissors', 'Price': 90, 'Quantity': 100},
 '1030': {'Name': 'Gum', 'Price': 30, 'Quantity': 100},
 '1031': {'Name': 'Ring', 'Price': 500, 'Quantity': 20}}

In [43]:
js = json.dumps(record)
fd = open("record.json",'w')
fd.write(js)
fd.close()

### **Removing items from the inventory**

In [44]:
del record['1030']

In [45]:
#to check the deleted record
record

{'1001': {'Name': 'Buscuit', 'Price': 50, 'Quantity': 150},
 '1002': {'Name': 'Chips', 'Price': 10, 'Quantity': 200},
 '1003': {'Name': 'Shampoo', 'Price': 125, 'Quantity': 100},
 '1004': {'Name': 'Chocolate', 'Price': 10, 'Quantity': 1000},
 '1005': {'Name': 'Pen', 'Price': 20, 'Quantity': 100},
 '1006': {'Name': 'Oil', 'Price': 75, 'Quantity': 100},
 '1007': {'Name': 'Bottles', 'Price': 170, 'Quantity': 200},
 '1008': {'Name': 'Umbrella', 'Price': 300, 'Quantity': 30},
 '1009': {'Name': 'Graph', 'Price': 1, 'Quantity': 100},
 '1010': {'Name': 'Lipstick', 'Price': 70, 'Quantity': 50},
 '1011': {'Name': 'Comb', 'Price': 25, 'Quantity': 70},
 '1012': {'Name': 'Band', 'Price': 10, 'Quantity': 100},
 '1013': {'Name': 'Pencil', 'Price': 10, 'Quantity': 200},
 '1014': {'Name': 'Cutter', 'Price': 95, 'Quantity': 20},
 '1015': {'Name': 'Plates', 'Price': 25, 'Quantity': 100},
 '1016': {'Name': 'Hair Gel', 'Price': 200, 'Quantity': 80},
 '1017': {'Name': 'Towel', 'Price': 300, 'Quantity': 25},
 '1018': {'Name': 'Chair', 'Price': 575, 'Quantity': 10},
 '1019': {'Name': 'Frame', 'Price': 170, 'Quantity': 20},
 '1020': {'Name': 'Toys', 'Price': 300, 'Quantity': 30},
 '1021': {'Name': 'Cake', 'Price': 25, 'Quantity': 25},
 '1022': {'Name': 'Ice cream', 'Price': 10, 'Quantity': 200},
 '1023': {'Name': 'Milk', 'Price': 25, 'Quantity': 60},
 '1024': {'Name': 'Butter', 'Price': 185, 'Quantity': 30},
 '1025': {'Name': 'Paneer', 'Price': 190, 'Quantity': 25},
 '1026': {'Name': 'Mask', 'Price': 15, 'Quantity': 300},
 '1027': {'Name': 'Socks', 'Price': 170, 'Quantity': 100},
 '1028': {'Name': 'Pouch', 'Price': 30, 'Quantity': 100},
 '1029': {'Name': 'Scissors', 'Price': 90, 'Quantity': 100},
 '1031': {'Name': 'Ring', 'Price': 500, 'Quantity': 20}}

In [46]:
js = json.dumps(record)
fd = open("record.json",'w')
fd.write(js)
fd.close()